.mceEditor table.mceLayout.os-wysiwyg-collapsed {
  border: 0;
}

.mceEditor table.mceLayout.os-wysiwyg-collapsed .mceIframeContainer {
  border: 1px solid #CCC;
}

.mceEditor table.mceLayout.os-wysiwyg-collapsed > tbody > tr.mceFirst,
.mceEditor table.mceLayout.os-wysiwyg-collapsed > tbody > tr.mceLast {
  display: none;
}

textarea.os-wysiwyg-expandable + .wysiwyg-toggle-wrapper,
textarea.os-wysiwyg-expandable + div.grippie + .wysiwyg-toggle-wrapper {
  display: block !important;
}