
body {
  font: 13px/17px 'helvetica neue', helvetica, arial,sans-serif;
  padding-bottom:30px;
  background:#e1e1e1;
  }

#columns {
  background: #fff;
}



h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 .5em 0;
  }

#menu-bar {
	margin-bottom:10px;
}

#menu-bar ul li a {
	font-size:15px;
}

/* HEADER ELEMENTS */


#header-container h1 a,
#header-container h1 a:visited {
    color:#282828;
    font-size: 35px;
    }


#header-container h2 {
  margin: 0;
  }
  
  
/*  Search PAGE */  
  
.page-search .search-form {width:400px; padding:0 8px;background:#F1F0F0;}

.page-search .search-form input.form-text {
    padding: 8px !important;
    width: 250px;
}
  
.page-search .search-results li {
    border-bottom: 1px solid #EEE;
    margin-bottom: 2em;
}  


.page-search  #content-column h1#page-title {
    margin-top: 0;
}

.page-search h2 {
    background: none repeat scroll 0 0 #F1F0F0;
    font-size: 15px;
    padding: 6px;
}

/* LOG IN and USER ACCOUNT PAGES */

.denied #footer,
.page-site-register #footer,
.logged-in.no-sidebars.page-user #footer,
.not-logged-in.page-user #footer {
	float:none;
}

.denied,
.maintenance-page,
body.page-site-register,
body.logged-in.no-sidebars.page-user,
body.not-logged-in.page-user {
	background: #fff;
	/*background-image:none #f6f5ed !important;*/
	background-image:none #fff !important;
	font-family: 'Helvetica neue', sans-serif;
	line-height:1em;
}

.denied #columns,
.maintenance-page #page,
.page-site-register #columns,
.logged-in.no-sidebars.page-user #columns,
.not-logged-in.page-user #columns {
	width:573px;
	margin: 100px auto 7px;
	border:1px solid #e1e1e1;
	border-bottom:4px solid #e1e1e1;
	background:#FFF;
	 -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
   min-height: 100px;
}

.page-site-register #columns,
.logged-in.no-sidebars.page-user #columns {
	width:700px;
}

.denied #content-column,
.page-site-register #content-column,
body.logged-in.no-sidebars.page-user #content-column,
body.not-logged-in.page-user.no-sidebars #content-column {
    padding: 0;
}

.denied #columns h1,
.maintenance-page h1#site-name,
.page-site-register #columns h1,
.logged-in.no-sidebars.page-user #columns h1,
.not-logged-in.page-user #columns h1 {
	font-size:1.7em;
	margin:0 !important;
	font-family: 'Helvetica neue', sans-serif;
	color:#555;
}

.page-site-register #columns h1 {
	margin:0 0 20px 0 !important;
}

.page-user-password #columns h1 {margin: 0 0 1em !important;}

.denied #powerby-login,
.page-site-register #powerby-login,
.logged-in.no-sidebars.page-user #powerby-login,
.not-logged-in.page-user #powerby-login {
    clear: both;
    float: right;
     margin-right: 0;
    min-width: 165px;
}


.logged-in.no-sidebars.page-user .description,
.not-logged-in.page-user .description {
font-size: .9em;
}

.page-site-register .description {
font-size: .75em;
}


.page-site-register #edit-actions #edit-submit,
.not-logged-in.page-user #edit-actions #edit-submit {
	padding: 5px 10px;
    border:none;
	color:#fff;
	font-size:13px;
	font-weight:bold;
text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.25);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #4183c4;

}

.denied #content,
.maintenance-page #main-content,
.page-site-register #content,
.logged-in.no-sidebars.page-user #content,
.not-logged-in.page-user #content {
	background:#f7f7f7;
	padding:1px 12px;
	margin-bottom:15px;
	border:1px solid #e1e1e1;
		font-size:15px;
	color:#555;
	line-height:25px;
}

.page-site-register #content {
	padding-bottom:12px;
}

.logged-in.no-sidebars.page-user ul.primary,
ul.primary {
	border-bottom-color: #FFF;
    margin: 2em 0 -10px;
    padding: 0 0 0.2em;
}


.logged-in.no-sidebars.page-user ul.primary li,
ul.primary li {
     border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

.logged-in.no-sidebars.page-user ul.primary li a,
.not-logged-in.page-user ul.primary li a {
 background-color: #FFF;
    border-color: #e1e1e1;
     border-width: 1px;
    margin-right: 0;
    padding: 0.5em 15px;
 font-family: sans-serif;
 border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	color:#3A72AB;
	font-size:14px;
}

.logged-in.no-sidebars.page-user ul.primary li a:hover,
.not-logged-in.page-user ul.primary li a:hover {
text-decoration:underline;
}

.logged-in.no-sidebars.page-user ul.primary li.active a,
.not-logged-in.page-user ul.primary li.active a {
    background-color: #f7f7f7;
    border-bottom:1px solid #f7f7f7;
}

.logged-in.no-sidebars.page-user ul.primary li.active a:hover,
.not-logged-in.page-user ul.primary li.active a:hover {
text-decoration:none;
}

/* USER ACCOUNT PAGE */

.page-site-register #footer,
.logged-in.no-sidebars.page-user #footer {
	width:850px;
}


.logged-in.no-sidebars.page-user #content a {
	color:#3A72AB;
}

.add-full-name-wrapper {
	position:absolute;
	right:0px;
	top:20px;
	font-size: 14px;
	}
	
	
.logged-in.no-sidebars.page-user.page-user-edit #content-column input.form-text {
width: 48%;
}

.user-add-name {
	text-decoration:underline;
}

.logged-in.no-sidebars.page-user #content a.field_first_name_anchor {
	color: #555555;
}

.page-site-register #preset-wrapper .form-item,
.page-site-register .form-item-domain,
.page-site-register .form-item-bundle,
.page-site-register .form-item-vsite-private,
.page-site-register .form-item-vicarious-user,
.logged-in.no-sidebars.page-user #content .item-list {
	border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:7px;
	background:#fff;
	border:1px solid #e1e1e1;
	margin-bottom:10px;
}

.logged-in.no-sidebars.page-user #content li .item-list {
	border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	padding:0;
	border:none;
}


.logged-in.no-sidebars.page-user #content ul.plural li .item-list {
	border-bottom:1px solid #e9e7e7;
	padding-bottom:10px;
}


.logged-in.no-sidebars.page-user #content .user-add-site-block,
.logged-in.no-sidebars.page-user #content .delete-link {
	float:right;
	clear:both;
}

.logged-in.no-sidebars.page-user #content .user-add-site-block {
	margin: 8px 5px -10px;
	
}



.logged-in.no-sidebars.page-user #content .delete-link {
margin-right:-3px;
}

.logged-in.no-sidebars.page-user #content .delete-link a {
	padding: 5px 10px;
    border:none;
	color:#FFFFFF;
	font-size:13px;
	font-weight:bold;
text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.25);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #FF3A2D;

}

.pin-button a, 
fieldset.pin-fieldset legend a, 
#user-login fieldset legend a,
.page-site-register .form-submit,
.logged-in.no-sidebars.page-user #content .user-add-website,
.os-green-button {
	padding: 5px 10px;
    border:none;
	font-size:13px;
	font-weight:bold;
color: #FFFFFF;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #4183c4;
}

.logged-in.no-sidebars.page-user #content .user-add-website {
background: #3D9B13;
}

fieldset.pin-fieldset legend, 
#user-login fieldset legend,
.pin-button a, 
fieldset.pin-fieldset legend a, 
#user-login fieldset legend a {
	color:#FFF !important;
	width:300px;
}

.pin-button, 
fieldset.pin-fieldset legend, 
#user-login fieldset legend {
    background-color:none;
     margin: 15px 0 0;
}

#user-login fieldset, 
.pin-button, fieldset.pin-fieldset legend, #user-login fieldset legend {
    width: 300px;
    padding-left: 0;
}


fieldset#edit-pin-fieldset {
	background:#F7F7F7;
}

.pin-button#pin-nvm {display:block;margin-bottom:20px;text-align:center;width: 50px;}

.pin-button#pin-nvm a {width:50px;}
  
.collapsible.collapsed.pin-fieldset.form-wrapper.collapse-processed {padding-left:0;}

.profile h3 {
	margin: -5px -5px 15px;
	padding:5px;

}

.page-site-register ul.error {
    margin-left: 15px;
}


/* SITE MAINTENANCE PAGE */
.maintenance-page #page {
	padding-top: 20px;
}

.maintenance-page #main-content{
	margin-top: 20px;
	padding-top: 15px;
}

.maintenance-page a {
	color:#3A72AB;
}

.maintenance-page #logo {
	display:none;
}

.maintenance-page h1#page-title {
	margin-bottom: 0.5em;
	font-size: 1.5em;
	background:url('../images/warning.png') no-repeat;
	padding-left:40px;
	height:30px;
}

.maintenance-page h1#site-name {
	padding-left: 10px;
}


/* ACCESS DENIED PAGE */

.denied #footer {
    margin: 0 auto;
    width: 540px;
}

.denied h1#page-title {
	margin-bottom: 0.5em;
	font-size: 2em;
	background:url('../images/denied.png') no-repeat;
	padding: 8px 40px;
	height:30px;
}

/* ROADMAP PAGE STYLES */

.roadmap td {
     padding: 12px 10px;
}

.roadmap span.status {
     -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
     padding: 5px 7px;
}

/* OS FRONTPAGE STYLES */
body.sitewide-front {
	background:#FFF;
	font-size:16px;
	color:#555;
	line-height:19px;
}


.os-align-center img {
   display:inline-block;
    
}

.os-title-text a:hover,
.sitewide-front a {
	text-decoration:underline;
	color:#007aff;

}

.os-title-text a,
.os-title-text {
	font-size: 50px;
color: #777;
height: 70px;
display: inline-block;
vertical-align: middle;
text-decoration:none;
}


.not-logged-in.sitewide-front #columns {min-height:50px;}

.sitewide-front #header-container {
    padding: 0;
    margin-bottom:20px;
    background:url('../images/osfrontpg_headerbg.gif') center bottom no-repeat;
}


.logged-in.sitewide-front #columns {
    background: url('../images/osfrontpg_headerbg.gif') center bottom no-repeat;
     margin-bottom: 25px;
}


.sitewide-front .content-left.content-right .at-panel .region.region-content-second {
    width: 290px;
    float:right;
}

.sitewide-front .content-left.content-right .at-panel .region.region-content-first {
    border-right: none;
 
}

.sitewide-front #page.container,
.sitewide-front #header,
.sitewide-front #columns
 {
    width: 775px;
}


.sitewide-front #block-boxes-os-front-header {
	font-size:22px;
	line-height:26px;
    margin-bottom: 20px;
}

.sitewide-front #block-boxes-os-front-main-support {
	border:1px solid #ff9500;
	margin-bottom: 50px;
}

.sitewide-front #block-boxes-os-front-main-support .content {
	padding: 15px;
	line-height:23px;
}



.sitewide-front .os-title-image {margin-top:10px;}

.sitewide-front #block-boxes-os-front-main-support .block-inner {
    margin-left: 0;
    margin-right: 0;
}

.sitewide-front #block-boxes-os-front-main-support .boxes-box-content {
    margin-left: 12px;
    margin-right: 12px;
}



.sitewide-front #block-boxes-os-front-main-support h2 {
	background:#ff9500;
	padding:8px;
	color:#FFF;
	text-align:center;
}

#boxes-box-os_front_sample h2 {
	font-size:23px;
}

.sitewide-front #block-boxes-os-front-create
 {
	float:right;;
}


.sitewide-front #boxes-box-os_front_sample {
	text-align:center;
}


.sitewide-front #boxes-box-os_front_sample ul {
	margin-top:20px;
	text-align:center;
}

.sitewide-front #boxes-box-os_front_sample ul li {
	float:left;
	list-style:none;
	margin-left: 40px;
}

#block-boxes-os-front-sample img {width:200px;border:1px solid #ccc;}

/** TODO MOVE TO PROPER CSS FILE **/

#boxes-box-os_front_header .boxes-box-content {
    text-align: center;
}

#block-os-search-db-site-search, #block-os-search-solr-site-search{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0 !important;
}

#edit-search-block-form--2 {
    border:1px solid #d0d0d0 !important;
    margin: 3px;
    background: url('./images/search.png') no-repeat 8px 6px;
    border-radius:3px  !important;
    -moz-border-radius:3px  !important;
    -webkit-border-radius:3px  !important;
}

#block-os-search-db-site-search #search-block-form #edit-submit, #block-os-search-solr-site-search #search-block-form #edit-submit {
    width: auto;
    height: auto;
    text-indent: 0;
    padding: 12px 20px 12px 20px !important;
    margin: 0 0 0 12px !important;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    line-height: 19px;
}

.sitewide-front #block-os-search-solr-site-search #edit-submit,
.sitewide-front #block-os-search-db-site-search #edit-submit {
    background: #919191;
    background-image: -webkit-linear-gradient(top, #919191, #6b6b6b);
    background-image: -moz-linear-gradient(top, #919191, #6b6b6b);
    background-image: -ms-linear-gradient(top, #919191, #6b6b6b);
    background-image: -o-linear-gradient(top, #919191, #6b6b6b);
    background-image: linear-gradient(to bottom, #919191, #6b6b6b);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

.sitewide-front #block-os-search-solr-site-search #edit-submit:hover,
.sitewide-front #block-os-search-db-site-search #edit-submit:hover {
    background: #919191;
    background-image: -webkit-linear-gradient(top, #919191, #6b6b6b);
    background-image: -moz-linear-gradient(top, #919191, #6b6b6b);
    background-image: -ms-linear-gradient(top, #919191, #6b6b6b);
    background-image: -o-linear-gradient(top, #919191, #6b6b6b);
    background-image: linear-gradient(to bottom, #919191, #6b6b6b);
    text-decoration: none;
    cursor: pointer;
}

.sitewide-front #search-block-form .container-inline .form-item .form-text {
    border-image: none;
    border-radius: 0;
    width: 236px;
    padding: 10px 20px 11px 36px !important;
    margin-left: 181px;
    background: transparent url('../images/search.png') 14px 14px no-repeat;
}

#block-os-search-db-site-search #edit-actions, #block-os-search-solr-site-search #edit-actions {
    float: left;
    margin-right: -125px;
}

#block-os-search-db-site-search #search-block-form .container-inline, #block-os-search-solr-site-search #search-block-form .container-inline {
    max-width: none;
}

#block-os-search-db-site-search #search-block-form .container-inline .form-item,
#block-os-search-solr-site-search #search-block-form .container-inline .form-item {
    width: auto;
}

#block-os-search-db-site-search .form-item.form-type-textfield.form-item-search-block-form,
#block-os-search-solr-site-search .form-item.form-type-textfield.form-item-search-block-form {
    margin-right: -16px;
}

#block-boxes-os-front-sample {
    margin-bottom: 20px;
}

#block-vsite-register-get-your-site-block {
    display: block;
    clear: both;
    text-align: center;
    padding: 0px;
    margin: 40px 0 40px 0 !important;
}

.sitewide-front #block-vsite-register-get-your-site-block {
margin: 10px 0 40px 0 !important;
}

#block-vsite-register-get-your-site-block .get-your-site-button {
    background: #4CD964;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3;
    border-radius: 3px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#block-vsite-register-get-your-site-block .get-your-site-button:hover {
    background: #4CD964;
    text-decoration: none;
}

.os-align-center {
    text-align: center;
    
    
}
