#content .node-person .field-name-field-person-photo,
#content .node-person .field-name-field-phone,
#content .node-person .field-name-field-email {
  float: left;
  margin-right: 1em;
}

#content .node-person .field-name-field-professional-title h4,
#content .node-person .field-name-field-professional-title h3 {
  margin: 0;
}



.page-node.node-type-person #content-column header h1 {
  display: none;
}

.node-person .field-name-field-professional-title {
	font-weight: bold;
}