#edit-layout {
  /*width: 848px; */
  position: relative;
  margin: 40px 0 0 0;
  font-size: 12px;
  background:#FFF;
}

.cp-region {
  background-color: white;
  outline: 1px solid #8996A0;
  display: inline-block;
  min-width: 20%;
  min-height: 3em;
  vertical-align: top;
}

.cp-region:hover {
  background-color: #F3F3F3;
}

.cp-region-header-first,
.cp-region-footer-first {
  margin-right: 1%;
  width: 24%;
  min-height: 12em;
}

.cp-region-header-second,
.cp-region-footer {
  width: 50%;
  min-height: 12em;
}

.cp-region-header-third,
.cp-region-footer-third {
  margin-left: 1%;
  width: 24%;
  min-height: 12em;
}

.cp-region-menu-bar,
.cp-region-footer-bottom {
  width: 100%;
  margin: 0.65em 0;
}

.cp-region-sidebar-first {
  width: 24%;
  margin-right: 1%;
  min-height: 36em;
  margin-bottom: 0.65em;
}

.cp-region-content {
  width: 50%;
  min-height: 36em;
}

.cp-region-sidebar-second {
  width: 24%;
  margin-left: 1%;
  min-height: 36em;
}

.cp-region-content-top {
  width: 100%;
  margin-bottom: 0.65em;
  min-height: 8.45em;
}

.cp-region-content-first {
  width: 49%;
  margin-right: 1%;
  min-height: 18em;
}

.cp-region-content-second {
  width: 49%;
  margin-left: 1%;
  min-height: 18em;
}

.cp-region-content-bottom {
  width: 100%;
  margin-top: 0.65em;
  min-height: 8.45em;
}


.cp-region-content .cp-region {
  display: none;
}

.content-regions .cp-region-content .cp-region {
  display: inline-block;
}

.content-regions .cp-region-content > .cp-layout-widget {
  display: none;
}

.content-regions.active {
  background-color: #FFFFCC;
}

#edit-layout-unused-widgets {
  background:url("images/widgetBoxBg.png") repeat-x;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border:1px solid #C0C7C7;
  min-height: 135px;

}

#edit-layout-unused-widgets .widget-container {
  height: 100%;
  /* position: absolute;*/
}

#edit-layout-unused-widgets .cp-layout-widget,
.cp-layout-widget.ui-sortable-helper {
  display: inline-block !important;
  background: url("images/widget-bg.png") no-repeat scroll 50% 10px transparent;
  color: #444545;
  cursor: move;
  font-weight: bold;
  font-size: 11px;
  padding: 62px 15px 5px;
  text-align: center;
  vertical-align: top;
  width: 75px !important;
  height: 31px;
  position: relative;
  white-space: normal;
  line-height:14px;
}


#edit-layout-unused-widgets .os_boxes_addthis {
	background: url("images/widgetIcons/addThis.png") no-repeat scroll 50% 10px transparent;
}


#edit-layout-unused-widgets .os_boxes_bio {
	background: url("images/widgetIcons/bio.png") no-repeat scroll 50% 10px transparent;
}


#edit-layout-unused-widgets .os_boxes_rss,
#edit-layout-unused-widgets .os_boxes_feedreader {
	background: url("images/widgetIcons/rss.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets #boxes-os_booklets_recent_docs,
#edit-layout-unused-widgets .os_boxes_booktoc,
#edit-layout-unused-widgets #views-os_booklets-block {
	background: url("images/widgetIcons/book.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets .os_boxes_slideshow {
	background: url("images/widgetIcons/slideshow.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets .os_boxes_html {
	background: url("images/widgetIcons/text.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets #views-os_events-block_1,
#edit-layout-unused-widgets #views-os_events-block_2 {
	background: url("images/widgetIcons/calendar.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets #views-os_software_releases-block_1 {
	background: url("images/widgetIcons/software.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets #boxes-os_news_latest {
	background: url("images/widgetIcons/announcement.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets #boxes-os_presentations_recent {
	background: url("images/widgetIcons/presentation.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets #boxes-os_publications_recent,
#edit-layout-unused-widgets .os_boxes_pub_ca,
#edit-layout-unused-widgets .os_boxes_pub_year {
	background: url("images/widgetIcons/publications.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets .os_boxes_media {
	background: url("images/widgetIcons/camera.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets .os_taxonomy_fbt {
	background: url("images/widgetIcons/addThis.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets #views-os_blog-block {
	background: url("images/widgetIcons/post.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets .fb_social_activityf,
#edit-layout-unused-widgets .fb_social_recommend,
#edit-layout-unused-widgets .fb_social_comments,
#edit-layout-unused-widgets .fb_social_livestream,
#edit-layout-unused-widgets .fb_social_facepile,
#edit-layout-unused-widgets .fb_social_send,
#edit-layout-unused-widgets .fb_social_likebox,
#edit-layout-unused-widgets .fb_social_like {
	background: url("images/widgetIcons/facebook.png") no-repeat scroll 50% 10px transparent;
}


#edit-layout-unused-widgets .os_boxes_twitterfeed {
	background: url("images/widgetIcons/twitter.png") no-repeat scroll 50% 10px transparent;
}

#edit-layout-unused-widgets .os_taxonomy_fbt {
	background: url("images/widgetIcons/taxo.png") no-repeat scroll 50% 10px transparent;
}


#edit-layout-unused-widgets .cp-layout-widget.hidden {
  display: none !important;
}

/* WIDGET STYLES IN LAYOUT GRID */
.cp-region .cp-layout-widget {
  display: block !important;
  background: #F0F3F3;
  border-bottom: 1px solid #666666;
  border-top: 1px solid #CCCCCC;
  margin: 0;
  min-height: 18px;
  overflow: hidden;
  padding: 4px 4px 15px 7px;
  font-size:1em;
  color: #565E66;
  cursor: auto;
  font-weight: bold;
  position: relative;
}

.cp-region.unlocked .cp-layout-widget {
  background: url("images/widget-placed-bg.png") no-repeat scroll 0 50%;
  padding-left: 31px;
  cursor: move;
}

#edit-layout-unused-widgets .cp-layout-widget.disabled,
.cp-region .cp-layout-widget.disabled {
  display: none !important;
}

.cp-region .cp-layout-widget:hover {
  background-color:#F8F9E2;
  background-position:-850px 50%;
}

#edit-layout .ui-sortable .close-this {
  background: url("../../../../../themes/cp_theme/images/scholarbase-sprite.png") no-repeat scroll 0 0 transparent;
  height: 12px;
  text-indent: -999em;
  width: 12px;
  position: absolute;
  right: 5px;
  top: 5px;
}

#edit-layout a.edit {
  background: url("images/configGear.png") no-repeat scroll 0 0 transparent;
  color: transparent;
  text-indent: -999em;
  width:15px;
  height:15px;
  padding-bottom:6px;
}

.widget-controls a.delete {
  display:none;
}

.ui-sortable-helper .widget-controls {
  display: none;
}

.cp-region.locked-down .widget-controls {
  display: none;
}


/* WIDGET STYLES IN UNUSED WIDGET BOX */
.widget-container a.delete {
  background: url("../../../../../themes/cp_theme/images/scholarbase-sprite.png") no-repeat scroll 0 -226px transparent;
  display: block;
  height: 11px;
  left: 82px;
  position: absolute;
  text-indent: -9999em;
  top: 20px;
  width: 10px;
}

.widget-container a.delete:hover {
  background: url("../../../../../themes/cp_theme/images/scholarbase-sprite.png") no-repeat scroll -14px -241px transparent;
  display: block;
  height: 11px;
  text-indent: -999em;
  width: 10px;
}

.widget-container a.edit {
  background: url("images/configGearSmallOff.png") no-repeat scroll 0 0 transparent;
  color: transparent;
  display: block;
  left: 81px;
  position: absolute;
  top: 42px;
}

.widget-container a.edit:hover {
  background: url("images/configGearSmall.png") no-repeat scroll 0 0 transparent;
}

.widget-container .close-this {
  display: none;
}

/**WIDGET TABS**/
	
#widget-categories {
  margin-left: 0;
  margin-bottom: 1px;
  margin-top: 0.1em;
  font-family: helvetica,Arial,Verdana,sans-serif;

}

#widget-categories ul {
  width:850px;
}

#widget-categories li {
  list-style: none;
  display: inline;
  margin: 0;
}

#widget-categories li a {
  font-size:.95em;
  text-decoration: none;
  padding: 4px 18px;
  margin-right:-2px;
  background: url('images/tabBg.png') repeat-x;
  -moz-border-radius-topleft :4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius:4px;
  -webkit-border-top-right-radius:4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#widget-categories li a:link, 
#widget-categories li a:visited, 
#tablist li a:visited {
 color: #FFF;
}

#widget-categories li a:hover {
  color: black;
  background: #c6cccc;
}

#widget-categories li a.active {
  color: black;
  background: #c6cccc;
}

/** LAYOUT LABEL TAB **/

#websiteLabelTab { 
  height: 16px;
  left: 756px;
  position: relative;
  top: 40px;
  width: 99px;
  background: url('images/websiteLayoutBarLabel.png') no-repeat;
}
 
    
/** ADD NEW WIDGET DROPDOWN **/
.page-cp-build-layout #cp-layout-full-form .ctools-dropdown {
  /*background: url("/sites/all/themes/openscholar/scholar_base/images/scholarbase-sprite.png") no-repeat scroll 3px -380px #A1D4A1 !important;*/
  border-radius: 5px 5px 0 0;
  float: right;
 margin: 21px -21px 0;
  padding: 1px 8px 0 5px !important;
  background:#52854C;

}

.page-cp-build-layout #cp-layout-full-form .ctools-dropdown .ctools-dropdown-link-wrapper a {
  color:#FFF;
}

html.js #cp-layout-full-form div.ctools-dropdown div.ctools-dropdown-container {
  background:#FFFFFF;
  color: #494949;
  margin: 1px 1px 0 0;
  box-shadow: 0 2px 5px #777777;
  border:none;
  opacity: 0.93;
  padding: 5px 0;
  max-height: 670px;
  overflow: auto;
  width: 275px;
  left:580px;
  white-space: nowrap;
}

.page-cp-build-layout div.ctools-dropdown div.ctools-dropdown-container ul li a {
  color: #293352 !important;
  display:inline;
  width:90%;
  float: left;
}

html.js .page-cp-build-layout div.ctools-dropdown div.ctools-dropdown-container ul li span {
  background-color: #FFFFFF;
  color: #494949;
}

.page-cp-build-layout div.ctools-dropdown div.ctools-dropdown-container ul li a.help {
  float:right;
  display:inline;
  width:10%;
  background: url("../../../../../themes/cp_theme/images/scholarbase-sprite.png") no-repeat scroll 0 -297px transparent;
  height: 19px;
  text-indent: -999em;
}

.page-cp-build-layout div.ctools-dropdown div.ctools-dropdown-container ul li span.group {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding-bottom: 8px;
}