@import url(http://fonts.googleapis.com/css?family=Roboto);

#branding_footer, #branding_header {
    display:none;
}

body  {
	font-family: 'Roboto',Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
    font-size: 14px;
    background: #F6F6F6;
 
}


.hg-container {
    width: 100%;
}

#footer {
    background: #202020 !important;

}



.front #content-panels .region {
    clear: both !important;
    float: none !important;
    width:100% !important;
    display: block !important;
}

.front #content-panels .region .region-inner,
.front #content-panels .region .region-inner[style] {
    min-height: 200px !important;
    position: relative;
}



#menu-bar .block-boxes-os_boxes_html,
body.front.no-sidebars #content-panels .region-inner {
    margin: 0 auto;
    width: 980px;
}

.front.no-sidebars .region-content-top:after {
    background: #373737;
    bottom: auto;
    content: "";
    display: block;
    height: 100%;
    left: -1000px;
    position: absolute;
    right: auto;
    top: 0;
    width: 3000px;
    z-index: 0;
}



#header,
#menu-bar,
#columns {
    background:#F6F6F6;
    background-image: none;
}

#columns {
margin-bottom: -20px;
}

#header-container h1 {
  width:292px;
  height: 78px;
  text-indent: -999em;
  background: url('../images/osatharvardlogo.png') no-repeat 0 0 transparent;
  margin: -20px 0 0 5px;
  }
  
#header-container h1 a, #header-container h1 a:visited {
  display:block;
  width:279px;
  height: 31px;
  }

#header-container h2, #header-container p {
  display:none;
  }  
 
 .region-header-third ul.nice-menu a {
    font: 14px 'Roboto',sans-serif;
    text-decoration: underline !important;
    text-transform: none;
} 
  /*
.region-header-third ul.nice-menu a {
    font: normal 16px 'Roboto',sans-serif;
    text-transform: none;
}  

.region-header-third ul.nice-menu li a {
  background:url('../images/mainnav_sidearrow.png') no-repeat 283px 7px transparent;
  padding-right: 23px;
  }
  */
#menu-bar {
    padding: 0 0 10px;
}  
  
#menu-bar nav {
    background: none;
    border-radius: 0;
    box-shadow: none;
}  

.lt-ie9 #menu-bar nav {
    border:none !important;
}

#menu-bar ul a, #menu-bar ul.nice-menu a, #menu-bar ul.nice-menu .menuparent a {
    font-family: 'Roboto',Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
   padding: 8px 15px;
   font-size: 18px;
}


#search-block-form input.form-submit, 
#search-block-form #edit-submit, 
#search-form #edit-submit {
    background-position: 2px -373px;
}


.front #content-panels .block {
    -moz-box-sizing: none;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
}

.front #content-panels .block-content, 
.sidebar .block-content {
border-top: none;
}


/* SLIDESHOW OVERRIDES */
#layout_16_9_side .slide {
    background: #373737 !important;
}

#layout_16_9_side .slide-copy h2 {
    font: bold 25px arial,sans-serif;
}

/*
body.no-sidebars .content-top-slideshow-enabled #content-panels .region-content-top .block {
    padding: 15px 0;
}
*/

#layout_16_9_side .slide-copy {
    padding-top: 25px;
}

/* SPECIAL CSS FOR CUSTOM BLOCKS FOR OSHARVARD SITE */

.region-content-top .block-boxes-os_boxes_html:nth-of-type(1) {float:left;}

.custhtml h3.custheader {
    text-align: center;
    margin-bottom: 20px;
}
.custhtml h3.custheader a {
    color: #000000;
    font: 25px/1.4em "Helvetica","Arial","sans-serif";
    text-decoration: none !important;
}

.custhtml.sample h3.custheader a {
    color: #FFF;
}

.custhtml.bythenumbs h3.custheader {
	margin-bottom: 13px;
}

.getsite {
	z-index:2;
	position:relative;
	color:#FFF;
}

.getsite a {
	color:#FFF;
	text-decoration:underline;
}


.getsite_link {cursor:pointer;}



.getsite_content {
	display:none;
	background:#FFF;
    margin: -6px 0 0 4px;
    width: 150px;
	border:1px solid #ccc;
	padding:10px;
	font-size:14px;
	line-height: 17px;
}


.getsite_content a {
	text-decoration: none !important;
color: #215990;
margin-left: 2px;
line-height: 24px;
}


.getsite h3 {
	font: bold 25px arial,sans-serif;
    margin-bottom: 12px;
    text-shadow: 0 1px 0 rgba(37, 37, 37, 0.75);
}

.getsite .textside {
    margin: 70px 0 0 0;
    background:#373737;
    }

.getsite .textside p {
	font:18px arial,sans-serif;
    margin-bottom: 12px;
    text-shadow: 0 1px 0 rgba(37, 37, 37, 0.75);
}

.sitecount {
	font: bold 22px arial,sans-serif;
	 text-shadow: 0 1px 0 rgba(37, 37, 37, 0.75);

}

.custhtml h4.benefheader {
	color: #000000;
    font: 18px/1.2em "Helvetica","Arial","sans-serif";
}

.region-content-first {
	background:#FFF !important;
	}

.region-content-second {
	background:#F6F6F6 !important;
	}
	
.region-content-bottom {
	background:#3973ac !important;
	margin-top:-20px !important;
	color:#FFF;
	}


.whyuse .benef2colwrapper,
.whyuse .activitywrapper {
	display: inline-block;
	text-align:center;
	}
.whyuse .benef2colwrapper {
	padding-right: 15px;
    width: 66%;
	}
	
.whyuse .activitywrapper {
	 margin-left: 18px;
    width: 30%;
	}
	
.whyuse .benef2colwrapper .twocolleft,
.whyuse .benef2colwrapper .twocolright {
	display: inline-block;
	width:48%;
}

.whyuse .benef2colwrapper .twocolright {
	margin-left:15px;
	top:7px;
	position:relative;
}

.whyuse .whynotech,
.whyuse .drag {height:270px;}
.whyuse .drag {top:-45px;position:relative;}


.whyuse .apps,
.whyuse .custdomains,
.activitywrapper .search {height:270px;}
.whyuse .custdomains {top:-52px;position:relative;}

.activitywrapper .search {top:-30px;position:relative;}
.activitywrapper .analytics {top:-24px;position:relative;}

.whyuse .themes,
.whyuse .social {height:230px;}
.whyuse .social {top:-53px;position:relative;}

.whyuse .support {
	top:-65px;
	position:relative;
	border:1px solid #ccc;
	background:#dfdfdf;
	padding:6px;
	}
	
	@-moz-document url-prefix() { 
	.whyuse .support {
	top:-61px;
		}
	}
	
	.lt-ie9 .whyuse .support {
	top:-47px;
	}

.whyuse .block-content {
	padding-top:35px !important;
}

.sample img {
	margin:0 20px;
}


.sample .sitesheader {
	margin-left:22px;
	font-size:16px;
}


.stats {
 	color:#fff;
	position: absolute;
    right: 381px;
	top: 137px;
    z-index: 20;
}

/* STATS SECTION */

#osactivity,
ul#firstset,
ul#secondset {
	background:#F6F6F6;
	width:600px;
	margin:0 auto;
}

ul#secondset {
	background:#FFF;
}


ul#secondset li,
ul#firstset li {
	color: #555555;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 54px;
    list-style-type: none;
    margin: 8px 8px 8px 0;
    padding: 3px 0 0 65px;
    width: 120px;
}

li#websites {
	background:url('/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/websites.png') no-repeat;
	}
	
li#publications {
	background:url('/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/publications.png') no-repeat;
	}
	
li#posts {
	background:url('/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/posts.png') no-repeat;
	}
	
li#users {
	background:url('/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/users.png') no-repeat -2px 0;
	}
	
li#files {
	background:url('/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/files.png') no-repeat -3px 0;
	}
	
li#diskspace {
	background:url('/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/diskspace.png') no-repeat 2px 0;
	}					


ul#secondset li {
	margin: 8px 8px 0 0;
    padding: 0;
    width: 192px;
    position:relative;
 	height: 90px;
}

li#version {
	background:url('/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/currentrel_version.png') no-repeat #F6F6F6 1px 18px;
	}
	
li#version span {
	left: 20px;
position: absolute;
top: 32px;
	}

li#getsat {
	 background: url("/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/getsatis.png") no-repeat scroll 44px 11px #F6F6F6;
    height: 70px !important;
	}
	
li#getsat span {
	left: 99px;
    position: absolute;
    top: 11px;
	}
	
li#getsat,
li#servertime {
	margin: 8px 0 0 0 !important;
	}

li#newposts,
li#servertime {
	 height: 90px !important;
	}



li#newposts {
	background:url('/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/newpoststoday.png') no-repeat #F6F6F6 35px 14px;
	}
	
li#newposts span {
	left: 45px;
position: absolute;
top: 61px;
	}
	
li#newsites {
	background:url('/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/newsitestoday.png') no-repeat #F6F6F6 35px 14px;
	margin-right:0 !important;
	}
	
li#newsites span {
	left: 41px;
position: absolute;
top: 61px;
	}	
		

li#servertime {
	 background: url("/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/responsetime.png") no-repeat scroll 62px 6px #F6F6F6;
}

li#servertime span {
	color: #FFFFFF;
    font-size: 13px;
    left: 85px;
    position: absolute;
    top: 55px;
	}
		
	
#osactivity {
background: url("/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/whatshappening.png") no-repeat scroll 225px 9px #F6F6F6;
 padding: 25px 12px 5px;
margin-top: 3px;
width: 575px;
}


#osactivity ul {
margin-left:0;
margin-bottom:0;
}

#osactivity ul li {
list-style-type:none;
background: url("/profiles/openscholar/themes/custom/osharvard_theme/images/statsbgs/activitylibg.png") no-repeat;
padding-left:35px;
}

#osactivity .time {float:left;color:#666;margin-right:5px;}

.region-content-first .block-boxes .os-embed-link {
    width: 250px;
}


.region-content-top .block-boxes .os-embed-link {
    bottom: 120px;
right: -160px;
     z-index: 1000;
     color:#fff;
     width:250px;
}


.block-boxes-os_boxes_html.os-boxes-embedded .getsite .textside {
margin: 5px 0 0 0 !important;
padding:12px;
min-height:450px;
}



/* ROADMAP PAGE STYLES */
.page-roadmap #columns {
     background: none repeat scroll 0% 0% #FFFFFF;
}

.page-roadmap #content-column {
     float: none;
     margin: 0px auto;
     width: 990px;
}

.page-node.page-roadmap #content-column .content-inner, .not-front.page-roadmap .content-inner {
     background: none repeat scroll 0% 0% #FFFFFF;
     border-radius: 0px;
     border: medium none;
     box-shadow: none;
     padding: 0px;
}

.page-roadmap ul.tabs.primary {
     padding: 10px 0px 0.5em ! important;
}
