/* Menus */

#menu-bar {
	padding: 8px 0;
}

#menu-bar ul.nice-menu a {
	font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
	font-size: 20px;
	color: #303030;
	padding: 8px;
}


#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover
 {
    background:#1E2540;
    color:#FFF;
}

#menu-bar ul.nice-menu .menuparent {
    padding-right: 5px;
}

#menu-bar ul.nice-menu .menuparent a {
    background: url(../images/menu_down_arrowOff.gif) right center no-repeat;
    padding-right: 15px;
}


#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active {
    background: url(../images/menu_down_arrowOn.gif) right center no-repeat #1E2540;
     color:#FFF;
    padding-right: 15px;
}

#menu-bar ul.nice-menu ul .menuparent.over > a,
#menu-bar ul.nice-menu ul .menuparent a:hover,
#menu-bar ul.nice-menu ul .menuparent a.active {
    background: none;
     color:inherit;
}

#menu-bar ul.nice-menu li {
    margin-right: 20px;
  
}

#menu-bar ul.nice-menu li.last {
    margin-right: 0;
}
 
ul.nice-menu ul {
    top: 3.3em !important;
}

ul.nice-menu ul ul {
    top: 0 !important;
}

#menu-bar ul.nice-menu ul {
    background: #F0F0EE;
}

ul.nice-menu ul {
    border-top: none;
   
}

#menu-bar ul.nice-menu .menuparent ul li {
    padding-right: 0;
}

#menu-bar ul.nice-menu .menuparent ul li a {
    background: none;
    padding-right: 0;
    font-size:15px;
}

#menu-bar ul.nice-menu .menuparent ul li a:hover,
#menu-bar ul.nice-menu .menuparent ul li a.active {
    background: none;
     color:#666;
    padding-right: 0;
}

/* Primary or Secondary Nav  Sidebar */

.sidebar .os-custom-menu,
.sidebar #block-os-primary-menu, 
.sidebar #block-os-secondary-menu {
	border: 1px solid #fff;
	border-bottom: none;
}

.sidebar .os-custom-menu ul,
.sidebar #block-os-primary-menu ul, 
.sidebar #block-os-secondary-menu ul {
	list-style: none !important;
}

.sidebar .os-custom-menu li,
.sidebar #block-os-primary-menu li, 
.sidebar #block-os-secondary-menu li {
  padding: 0;
}

.sidebar .os-custom-menu ul.menu,
.sidebar #block-os-primary-menu ul.menu, 
.sidebar #block-os-secondary-menu ul.menu {
  margin-bottom: 0;
}

.sidebar .os-custom-menu ul.menu li,
.sidebar #block-os-primary-menu ul.menu li, 
.sidebar #block-os-secondary-menu ul.menu li {
	list-style: none;
	background-color: #F3F3F1;
	text-align: left;
}

.sidebar .os-custom-menu ul.menu li a,
.sidebar #block-os-primary-menu ul.menu li a, 
.sidebar #block-os-secondary-menu ul.menu li a {
	display: block;
	text-decoration: none !important;
	padding: 8px 15px;
	border-bottom: 2px solid #fff;
	font-size:15px;
}

.sidebar .os-custom-menu ul.menu li li a,
.sidebar #block-os-primary-menu ul.menu li li a, 
.sidebar #block-os-secondary-menu ul.menu li li a {
	padding: 8px 25px;
}

.sidebar .os-custom-menu ul.menu li ul.menu,
.sidebar #block-os-primary-menu ul.menu li ul.menu, 
.sidebar #block-os-secondary-menu ul.menu li ul.menu {
    margin: 0 0 0 0;
}


.sidebar .os-custom-menu ul.menu li.last a,
.sidebar #block-os-primary-menu ul.menu li.last a, 
.sidebar #block-os-secondary-menu ul.menu li.last a {
	border-bottom: none;
	
}

.sidebar .os-custom-menu ul.menu li li.last a,
.sidebar #block-os-primary-menu ul.menu li li.last a, 
.sidebar #block-os-secondary-menu ul.menu li li.last a {
	border-bottom: 2px solid #fff;
	
}


.sidebar .os-custom-menu a:hover,
.sidebar #block-os-primary-menu a:hover, 
.sidebar #block-os-secondary-menu a:hover {
	background-color: #E6E6E3 !important;
}

.block-boxes-os_taxonomy_fbt.navigation a.active,
.section-nav a.active {
	color: #333;
}

/* TAXONOMY AS NAVIGATION BASE STYLES*/
.block-boxes-os_taxonomy_fbt.navigation a {
	color: #215990;
	}

.block-boxes-os_taxonomy_fbt.navigation a:hover {
    background-color: #e3e3e1;
  
}

.block-boxes-os_taxonomy_fbt.navigation ul li {
    background-color: #FFF;
  }

.block-boxes-os_taxonomy_fbt.navigation ul {
    border-bottom: 1px solid #EBE3DF;
    border-left: 1px solid #EBE3DF;
    border-right: 1px solid #EBE3DF;
  }


.block-boxes-os_taxonomy_fbt.navigation ul li {
	border-top: 1px solid #EBE3DF;
}


/* BOOK NAV IN CONTENT AREA */
#content-column .book-menu a.active {
   font-style: normal;
   color: #000;
}

#content-column .book-menu ul li a {
    color: #215990;
}



/* Action Nav Header 3rd*/
.region-header-third ul.nice-menu {
	float:right;
	margin-bottom: 1em;
}



.region-header-third ul.nice-menu {
    margin-top: 5px;
}

.region-header-third ul.nice-menu li {
    margin-left: 13px;
}

.region-header-third ul.nice-menu a {
    font: bold 13px arial,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #215990;
    padding: 0.3em 0 0.3em 10px;
}

#branding_footer,
#branding_header {
	background: #1e1e1e;
	color: #FFF;
	font-weight: bold;
}

#branding_footer a,
#branding_header a {
	color:#BAC5C6;
}

#branding_header a:hover {
	color:#8996A0;
}

#branding_footer a {
	color: #bac5c6;
}

/* Footer Quicklinks Nav */
#footer ul.menu,
#footer ul {
	margin-left:0;
	list-style: none;
}

#footer ul.menu li.menuparent {
	float:left;
	display:inline;
	clear: none;
	margin-right:80px;
  font-size:12px;
  text-transform: uppercase;
}

#footer ul li.leaf {
    list-style-image: none !important;
    list-style-type: none !important;
}

/* Temporary - Footer Quicklinks Nav CSS - REMOVE WHEN THE REAL MENU FUNCTIONALITY IS READY*/

#footer ul.os-menu,
#footer ul {
	margin-left:0;
}

#footer ul.os-menu li.os-menuparent {
	float:left;
	display:inline;
	clear: none;
	margin-right:95px;
  font-size:12px;
  text-transform: uppercase;
}


/* Local tasks */
#tasks {
  margin-bottom: 18px;
  margin-top: 40px;
}

ul.primary li a {
	background-color: #f3f3f1;
	border-color: #e4e4e4;
	margin-right: 0;
	padding: 4px 10px 0.2em;
}
ul.primary li.active a {
  border-color: #cacaca #cacaca #fff;
}


















